House Price Prediction

In [ ]:
#Generic Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Dataset
from sklearn.datasets import fetch_california_housing

In [ ]:
#Get the Dataset
data = fetch_california_housing()

In [ ]:
print(data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [ ]:
df = pd.DataFrame()
data.data

array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]])

In [ ]:
data.data.shape

(20640, 8)

In [ ]:
df = pd.DataFrame(data.data)

In [ ]:
df.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [ ]:
df = pd.DataFrame(data.data, columns= data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
df['Target'] = data.target

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
geolocator = Nominatim(user_agent= 'geoapiExercises')

In [ ]:
geolocator.reverse('37.88' + ',' + '-122.23')

Location(Ecological Study Area, Centennial Drive, Oakland, Alameda County, California, 94720, United States, (37.87563745, -122.22856355341203, 0.0))

In [ ]:
geolocator.reverse('37.88' + ',' + '-122.23').raw

{'place_id': 239815806,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 665384454,
 'lat': '37.87563745',
 'lon': '-122.22856355341203',
 'class': 'leisure',
 'type': 'nature_reserve',
 'place_rank': 30,
 'importance': 9.99999999995449e-06,
 'addresstype': 'leisure',
 'name': 'Ecological Study Area',
 'display_name': 'Ecological Study Area, Centennial Drive, Oakland, Alameda County, California, 94720, United States',
 'address': {'leisure': 'Ecological Study Area',
  'road': 'Centennial Drive',
  'city': 'Oakland',
  'county': 'Alameda County',
  'state': 'California',
  'ISO3166-2-lvl4': 'US-CA',
  'postcode': '94720',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['37.8675298', '37.8837316', '-122.2483939', '-122.2232091']}

In [ ]:
geolocator.reverse('37.88' + ',' + '-122.23').raw['address']

{'leisure': 'Ecological Study Area',
 'road': 'Centennial Drive',
 'city': 'Oakland',
 'county': 'Alameda County',
 'state': 'California',
 'ISO3166-2-lvl4': 'US-CA',
 'postcode': '94720',
 'country': 'United States',
 'country_code': 'us'}

In [ ]:
geolocator.reverse('37.88' + ',' + '-122.23').raw['display_name']

'Ecological Study Area, Centennial Drive, Oakland, Alameda County, California, 94720, United States'

In [ ]:
# Define loc_update as a dictionary before using it
import pickle
import os

pickle_file_path = '/content/loc_update.pickle'

if os.path.exists(pickle_file_path):
    loc_update = pickle.load(open(pickle_file_path, "rb"))
else:
    print("Pickle file does not exist at the specified path.")
def location(cord):
    Latitude = str(cord[0])
    Longitude = str(cord[1])

    location = geolocator.reverse(Latitude + ',' + Longitude).raw['address']

    if location.get('Road') is None:
        location['Road'] = None
    if location.get('County') is None:
        location['County'] = None

    # Append values to loc_update
    loc_update['County'].append(location['County'])
    loc_update['Road'].append(location['Road'])

Pickle file does not exist at the specified path.